<h2>Books List</h2>

<a href="/book/add">Add a Book</a>

<ul>
  {{#each bookList}}
    <li>
      <h3>{{this.title}}</h3>
      <p>by {{this.author}}</p>
      <a href="/book/{{this._id}}">See Details</a>
      <a href="/book/{{this._id}}/edit">Edit</a>
      <a href="/book/{{this._id}}/delete">Delete</a>
    </li>
  {{/each}}
</ul>
